<div class="centered">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
<div class="container search">
  <mat-card>
    <mat-card-content>
      <form class="centered">
          <mat-form-field> 
            <input matInput placeholder="Search For A City" name="city" [(ngModel)]='city' >
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="getWeatherState(city)">Submit</button>
        </form>
    </mat-card-content>
  </mat-card>
</div>

<div class="container">

  
    <div class="data-container" *ngIf="myCity">
          <div class="items-returned" *ngFor="let item of myCity ">
            <mat-card>
              <mat-card-content>
                  <div class="data" *ngFor="let data of item; let i=index " >
                      <p *ngIf="i<1">{{data.dt_txt | date:'shortDate'}}</p>
                      <p *ngIf="i<1">{{ data.weather[0].description  }} </p>
                    </div>
                  <p *ngIf="maxTemp(extractTemps(item, 'temp_max')) > 40 && maxTemp(extractTemps(item, 'temp_max')) < 70">
                    <img src="./assets/img/cloudy-day-1.svg"></p>
                  <p *ngIf="maxTemp(extractTemps(item, 'temp_max')) > 70"><img src="./assets/img/day.svg"></p>
                  {{minTemp(extractTemps(item, 'temp_min')) | round }} &#8457; /
                  {{maxTemp(extractTemps(item, 'temp_max')) | round }} &#8457; 
              </mat-card-content>
            </mat-card>
              <!-- <mat-card>
                  <mat-card-content>
            <div class="data" *ngFor="let data of item" >
  
        
                      <p>{{data.dt_txt | date:'fullDate'}}</p>
                      <div >
                              <p>{{ data.weather[0].description  }} </p>
                              <p *ngIf="data.clouds.all === 0"> <img src="./assets/img/day.svg"></p>
                              <p *ngIf="data.clouds.all === 24"> <img src="./assets/img/cloudy-day-1.svg"></p>
                              <p *ngIf="data.clouds.all === 36 "> <img src="./assets/img/cloudy-day-1.svg"></p>
                              <p *ngIf="data.rain"><img src="./assets/img/rainy-1.svg"></p>
        
                              <p *ngIf="data.clouds.all === 100"> </p>
                              <span>{{ data.wind.speed }}</span>
                              <p>{{ data.main.temp | round  }} &#8457; </p>
                      </div>

     
             
              
            </div>
          </mat-card-content>
        </mat-card> -->
        </div>
    </div>
</div>


